$boxColor: rgba(10, 45, 115, 0.60);
$black:#000000;
$white:#FFFFFF;


//Mixins
@mixin box{
    background: $boxColor;
    border-radius: 1.25rem;
    padding: 1rem 2rem;
    width: 90%;
    min-height: 20vh;
    margin: 1rem auto;
}

@mixin heading{
    color: $white;
    font-size: 2rem;
}
@mixin txt($color:$white){
    color: $color;
    font-size: 1.25rem;
    word-break: keep-all;

}
@mixin btn{
    background-color:$boxColor;
    color: $white;
    font-size: 1.25rem;
}